@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --font-display: "Lato", sans-serif;
  --color-background: #ffffff;
  --color-foreground: #171717;
  /* other custom properties */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer components {
  .card:hover {
    @apply transition duration-200 scale-105;
  }
  .btn {
    @apply transition duration-200 active:scale-95
  }
  .anchor {
    @apply relative;
  }
  .anchor::after {
    @apply content-[''] absolute -bottom-1 left-1/2 -translate-x-1/2 h-0.5 w-0 transition-all duration-200 ease-in-out;
  }
  .anchor:hover::after {
    @apply w-full
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Lato", sans-serif;
  color: black;
}
/* 
.anchor {
  position: relative;
}

.anchor::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 0%;
  background: white;
  transition: 0.3s ease-in-out;
}

.anchor:hover::after {
  width: 100%;
} */