@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --font-display: "Lato", sans-serif;
  --color-background: #ffffff;
  --color-foreground: #171717;
  /* other custom properties */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-montserrat: "Montserrat", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer components {
  .card {
    @apply border-gray-100 shadow-md rounded-lg p-8;
  }
  .card:hover {
    @apply transition duration-200;
  }
  .btn {
    @apply cursor-pointer transition duration-200 active:scale-95;
  }
  .section {
    @apply p-8 md:px-20 lg:px-40 xl:px-60 grid items-center justify-center;
  }
  .section-inner-width {
    @apply min-w-full max-w-full lg:min-w-4xl lg:max-w-4xl xl:min-w-7xl xl:max-w-7xl;
  }
  .section-heading {
    @apply relative text-[44px] font-bold font-montserrat;
  }
  .section-heading::after {
    @apply content-[''] absolute -bottom-4 left-0 h-2 w-40 bg-[#346EA0] rounded-full;
  }
  .anchor {
    @apply relative;
  }
  .anchor::after {
    @apply content-[''] absolute -bottom-1 left-1/2 -translate-x-1/2 h-0.5 w-0 transition-all duration-200 ease-in-out;
  }
  .anchor:hover::after {
    @apply w-full;
  }
  .custom-job-input {
    @apply block bg-gray-200 px-4 py-2 w-full rounded-md outline-none transition-all duration-300 uppercase relative focus:bg-gray-50;
  }
  .custom-job-input:focus {
    @apply border-b-2 border-blue-400 rounded-b-none
  }
  .header {
    @apply pl-8 py-2 relative
  }
  .header::after {
    @apply content-[''] block absolute left-0 top-0 h-full w-2 rounded-full bg-blue-500
  }
  .required-field {
    @apply after:content-['*'] after:text-red-500 after:text-xl after:ml-1
  }
  .breadcrumb-item {
    @apply after:bg-white relative h-[46px] px-8 border-t-2 border-b-2 after:border-t-2 after:border-r-2 after:content-[''] after:absolute after:w-8 after:h-8 after:-right-4 after:top-1/2 after:-translate-y-1/2 after:rotate-45
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Montserrat", sans-serif;
  color: black;
}

.innerHTML p {
  text-align: justify;
  text-justify: inter-word;
}

#rank-math-toc {
  padding: 8px;
  border: 2px solid #ccc;
  border-radius: 8px;
}

#rank-math-toc h2 {
  font-size: 48px;
  font-weight: bold;
}

#rank-math-toc nav ul {
  list-style-type: none;
  margin-left: 60px;
}

#rank-math-toc nav ul li {
  position: relative;
  display: block;
  transition: all 0.3s ease-in-out;
  padding: 0 16px;
  border-radius: 8px;
  font-style: italic;
}

#rank-math-toc nav ul li:hover {
  background-color: #346EA0;
  color: white;
}

#rank-math-toc nav ul li:hover::before {
  background: #1A384F;
  left: -3rem;
}

#rank-math-toc nav ul li::before {
  content: '';
  position: absolute;
  left: -2rem;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  background: #346EA0;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

#rank-math-toc nav ul li a {
  font-size: 32px;
  font-weight: bold;
}

.wp-block-heading {
  font-weight: bold;
  font-size: 48px;
  position: relative;
  padding: 4px 40px;
}

.wp-block-heading::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 8px;
  background-color: #51a2ff;
  border-radius: 8px;
}

.wp-block-image img {
  width: 100% !important;
  border-radius: 8px;
  box-shadow: 0 4px 8px #ccc;
}